body, html {
    color: rgba(0,0,0,.75);
    background: white;
    background: radial-gradient(#ccd0ff1f, #ffffcc38);
    font-size: 16px;
    /*font-family: Lato,Helvetica Neue,Helvetica,sans-serif;*/
    font-family: "Lucida Console", Monaco, monospace;
    font-variant-ligatures: common-ligatures;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    display: block;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

div {
  display: block;
}

table {
    display: table;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    font-size: 1.3em;
    font-weight: bold;
    text-align: -internal-center;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td, th {
    border-right: 2px solid #dcdcdc;
    padding: 8px 12px;
    display: table-cell;
    vertical-align: inherit;
}

td {
    border-top: 1px solid #dcdcdc;
    text-align: -webkit-center;
}

td:last-child, th:last-child {
    border-right: 0;
    border-right-width: 0px;
    border-right-style: initial;
    border-right-color: initial;
}

.body_center {
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 750px;
}

b, strong {
  font-weight: stronger;
}

.box {
  border: 3px solid black;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

blockquote, dl, ol, p, pre, ul {
    margin: 1.2em 0;
    margin-top: 1.2em;
    margin-right: 0px;
    margin-bottom: 1.2em;
    margin-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.8em 0;
  margin-top: 1.8em;
  margin-right: 0px;
  margin-bottom: 1.8em;
  margin-left: 0px;
  line-height: 1.33;
}

h1 {
  font-size: 2.3em;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align:  center;
    font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.20em;
  -webkit-margin-before: 1.5em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


h1:after, h2:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 2px solid hsla(0,0%,50%,.2);
}
